# Dependencias
node_modules/

# Variables de entorno
.env
.env.local

# Firebase
.firebase/
firebase/config.js

# Build
build/
dist/

# Logs
*.log

# Archivos del sistema
.DS_Store
Thumbs.db

# IDE/Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?